<div id="<%= dom_id expectation %>">
  <p>
    <strong>Method:</strong>
    <%= expectation.method %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= expectation.full_path %>
  </p>

  <p>
    <strong>Responses:</strong>
    <%= link_to pluralize(expectation.responses.count, 'response'), expectation_responses_path(expectation) %>
  </p>

</div>
