<div id="<%= dom_id domain %>">
  <p>
    <strong>Name:</strong>
    <%= domain.name %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= domain.path %>
  </p>

  <p>
    <strong>Expectations:</strong>
    <%= link_to pluralize(domain.expectations.count, 'expectation'), domain_expectations_path(domain) %>
  </p>

</div>
