<div id="<%= dom_id response %>">
  <p>
    <strong>Format:</strong>
    <%= response.format %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= response.code %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= response.body %>
  </p>
</div>
