<h1>Editing response</h1>

<%= render "form", expectation: nil, response: @response %>

<br>

<div>
  <%= link_to "Show this response", @response %> |
  <%= link_to "Back to responses", expectation_responses_path(@response.expectation) %>
</div>
